
*{
    margin: 0;
    padding: 0;
}
nav{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 1300px;
    align-items: center;
    margin: 0 auto; 

}
ul{
    display: flex;
    gap:20px;
    list-style: none;
    font-family: "Arimo", sans-serif;
    color: #575757;
}
button{
    background-color:#1D4ED8;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    

}

section{ 
    background-image:url(./B14-A01-DevConf-2026/assets/banner.jpg);
    height: 600px;
    width:1560px;
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}
h1{
    color: #FFFFFF;
    font-size:60px ;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding:50px; 
    word-spacing: 10px;
}
span{
    font-style: italic;

}
p{
    color: white;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    border: solid #FFFFFF;
    margin:11px auto;
}
.herob{
    background-color:#1D4ED8;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-align:center;
    margin: 100px auto;
    border: solid #FFFFFF
}