nav{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1300px;
    align-items: center;
    margin: 0 auto;

}
ul{
    display: flex;
    gap:20px;
    list-style: none;
    font-family: "Arimo", sans-serif;
    color: #575757;
}
button{
    background-color:#1D4ED8;
    color: #FFFFFF;
     font-family: "Inter", sans-serif;
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-align:center;

}

section{ 
    padding:30px;
    text-align: center;
    color:aliceblue;
    background-image: url(./B14-A01-DevConf-2026/assets/banner.jpg);
    height: 786px;
    width:1552px;
}